@font-face{
    font-family:"Avara-Black";
    src: url("fonts/Avara-Black.woff2")format(woff2);
}

body {
    background-color: rgb(255, 255, 255);
    font-family: "Avara-Black", serif;
}


img {
    max-width: 100%; /* Bild passt sich container an */
    height: auto;   /* Höhe behält proportion */
}

h1{
    margin: 0;
}

p {
    margin: 0;
}
.grid-container {
    display: grid; 
    padding: 50px 50px 10px 50px;
    column-gap: 15px;
    row-gap: 10px;
    grid-template-columns: 3fr 5fr 5fr 5fr 5fr 3fr;   /* Definition abstand kolumne */
    grid-template-areas:
    ". name name name name ." /* deifiniton was welche/wieviele kolumnen überquert */
    ". bio bio bio . ."
    ". image-1 image-1 text-1 . ." /* bsp. img-1 geht über 3 Spalten und txt-1 nimmt auch eine spalte platz */
    ". . image-2 image-2 text-2 ."
    ". . text-3 image-3 image-3 ."; /* Ein Punkt (.) bedeutet spalte bleibt leer */
}

.name {
    grid-area: name;
}

.name h1 {
    text-align: left;
    font-size: 50px;
    margin: 0;
    margin-bottom: 0px;
}

.bio {
    grid-area: bio;
    /* align-self, align vertically */
}

.bio p {
    margin: 3%;
    align-self: bottom;
    color: blueviolet
}

.image-1{
    grid-area: image-1;
}

.image-2{
    grid-area: image-2;
}

.image-3{
    grid-area: image-3;
}

.text-1{
    grid-area: text-1;
}

.text-2{
    grid-area: text-2;
}

.text-3{
    grid-area: text-3;
}