@font-face{
    font-family:"Avara-Black";
    src: url("fonts/Avara-Black.woff2")format(woff2);
}

/* ----------------- FONT ----------------- */

body {
    background-color: rgb(125, 118, 118);
    font-family: "Avara-Black", serif;
}


img {
    max-width: 100%; /* Bild passt sich container an */
    height: auto;   /* Höhe behält proportion */
}

h1{
    margin: 0;
}

p {
    margin: 0;
}
.grid-container {
    display: grid; 
    padding: 50px 50px 10px 50px;
    column-gap: 15px;
    row-gap: 10px;
    grid-template-columns: 2fr 4fr 4fr 4fr 4fr 4fr 4fr 2fr;   /* Definition abstand kolumne */
    grid-template-areas:
    ". name name name name . . ." /* deifiniton was welche/wieviele kolumnen überquert */
    ". bio bio bio . . . ."
    ". image-1 image-1 text-1 . . . ." /* bsp. img-1 geht über 3 Spalten und txt-1 nimmt auch eine spalte platz */
    ". image-2 image-2 image-2 text-2 . . ."
    ". image-3 image-3 image-3 text-3 . . ."; /* Ein Punkt (.) bedeutet spalte bleibt leer */
}

.name {
    grid-area: name;
    position: sticky;
    top: 0;
    mix-blend-mode: difference;
}

.name h1 {
    text-align: left;
    font-size: 50px;
    margin: 0;
    margin-bottom: 0px;
    color: white;
    transition: color 0.3s ease;
}

.name h1:hover{
    color:violet;
}

.bio {
    grid-area: bio;
    /* align-self, align vertically */
}

.bio p {
    margin: 0;
    align-self: bottom;
    opacity: 1;
    transition: opacity 0.3s ease;
    color: blueviolet
}

.bio:hover{
    opacity: 0.5;
}

.image-1{
    grid-area: image-1;
    position: relative;
}

.image-1 img{
    transition: opacity 0.5s ease;
}


.image-1 .b{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-1:hover .a{
    opacity: 0;
}                   /* ------BEI HOVER 1. BILD NEHMEN UND DURCHSICHTIG MACHEN---------- */

.image-1:hover .b{
    opacity: 1;
}

.image-1 img{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease;
}

.image-1 img:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.image-2{
    grid-area: image-2;
}

.image-2 img{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease;
}

.image-2 img:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.image-3{
    grid-area: image-3;
}

.image-3 img{
    transition: transform 0.5s ease;

}

.image-3 img:hover{
    transform: rotate(5deg) scale(3.05);
}

.text-1{
    grid-area: text-1;
    color: white;
}

.text-2{
    grid-area: text-2;
    color: white;
}

.text-3{
    grid-area: text-3;
    color: white;
}