@font-face{
    font-family:"whois-mono";
    src: url(ufonts/whois-mono.woffformat)format(woff);
}

/* ----------------- FONT ----------------- */

body {
background: url('data/Background2.png'), #ffffff;

    font-family: "whois-mono", monospace;
    font-size: 12px;
}

/* ----------BODY------------------- */

img {
    max-width: 100%; /* Bild passt sich container an */
    height: auto;   /* Höhe behält proportion */
}

h1{
    font-size: 12px;
    align-self: center;
    position: sticky;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    align-self: center;
}

a:link{
    opacity: 1;
}

a:visited {
opacity: 0.5;
}

/* -------------most likely presets----------- */
.grid-container {
    display: grid; 
    padding: 40px 40px 40px 40px;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 0.5fr 0.5fr;   /* Definition abstand kolumne */
    grid-template-areas:
    " name name name name . . . . . . . . IgIcon" /* deifiniton was welche/wieviele kolumnen überquert */
    " bio bio bio . . . . . . . . . ."
    ". . text-1 text-1 image-1 image-1 image-1 image-1 image-1 image-1 . . . " /* bsp. img-1 geht über 3 Spalten und txt-1 nimmt auch eine spalte platz */
    ". . . . image-2 image-2 image-2 text-2 text-2 . . . ."
    ". . . . . image-3 image-3 image-3 text-3 text-3 . . ."; /* Ein Punkt (.) bedeutet spalte bleibt leer */
}


/* ------------Grid--------------------- */
.name{
    grid-area: name;
    position: sticky;
    z-index: 15;
    align-self: center;
    position: sticky;
}

.name h1 {
    text-align: left;
    font-size: 12px;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
    cursor: default;
    position: sticky;
}

.name h1:hover{
    color:violet;
    transform: scale(110%);
    position: sticky;
}

/* ----------------TITEL---------------- */

.bio {
    grid-area: bio;
    position: sticky;
    top: 50px;
    /* align-self, align vertically */
}

.bio p {
    margin: 0;
    align-self: bottom;
    opacity: 1;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: justify;
    transition: opacity 0.3s ease;
    color: rgb(0, 0, 0)
}

.bio:hover{
    opacity: 1;
    /* -----------BIO--------------- */
}
.IgIcon{
    grid-area: IgIcon;
    position: sticky;
    top: 20px;
    z-index: 15;
}

.IgIcon img{
    transition: transform 0.2s ease;
}

.IgIcon img:hover{
    transform: scale(110%);
}

/* ---------Instagram -----------*/

.image-1{
    grid-area: image-1;
    position: relative;
}

.image-1 img{
    transition: transform 0.5s ease;
}

.image-1 .b{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s ease;
}

.image-1 .c{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s ease;
}
.image-1 .d{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s ease;
}
.image-1 .e{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s ease;
}
.image-1 .f{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s ease;
}
.image-1 .g{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s ease;
}
.image-1 .h{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s ease;
}
.image-1 .i{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s ease;
}
.image-1 .j{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s ease;
}
.image-1 .k{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s ease;
}
.image-1 .l{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s ease;
}
.image-1 .m{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: transform 0.5s ease;
}

/* Pictres hidden */


.image-1:hover .a{
    opacity: 0;
    transform: scale(125%) 3.3s ease;
}                   /* ------BEI HOVER 1. BILD NEHMEN UND DURCHSICHTIG MACHEN---------- */

.image-1:hover .b{
    opacity: 1;
    transform: scale(125%) 3.3s ease;
}

.image-1 img{
   transition: transform 0.5s ease;
}

.image-1 img:hover{
    z-index: 0;
    transform: scale(125%);
}



/* -------IMG1------------- */
.image-2{
    grid-area: image-2;
    position: relative;
}

.image-2 img{
    position: relative;
    top: -50%;
    transition: transform 0.5s ease;
}

.image-2 img:hover{
    transform:scale(125%);
}



.image-3{
    grid-area: image-3;
    position: relative;
    top: -125px;
}

.image-3 img{
    transition: transform 0.5s ease;

}

.image-3 img:hover{
    transform:scale(155%);
}


/* ------------PROJECTS------------- */


.text-1{
    grid-area: text-1;
    color: white;
}

.text-2{
    grid-area: text-2;
    color: white;
}

.text-3{
    grid-area: text-3;
    color: white;
}

/* Descriptions */
